///**
// * @category Iflairwebtechnology
// * @package Iflairwebtechnology_AdminMegaMenu
// * @copyright Copyright © Iflairwebtechnology All right reserved
// * @author Iflairwebtechnology <nikunj.panchal@iflair.com>
// */

#adminsearch {
  position: absolute;
  right: 275px;
  width: 100%;
  max-width: 600px;
  padding-top: 5px;

  .adminsearch-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    z-index: 750;
    display: none ;
  }

  &.adminsearch-focusing {
    .adminsearch-autocomplete {
      position: relative;
      z-index: 800;
    }

    .adminsearch-overlay {
      display: block;
    }
  
    .adminsearch-autocomplete #adminsearch-input {
      background-color: #fff;
    }
  }

  .adminsearch-autocomplete {
    position: relative;
    display: inline-block;
    width: 100%;

      .ui-helper-hidden-accessible {
        display: none;
      }
      
      #adminsearch-input {
        @transition: all .1s ease-in-out, width .5s ease-in-out;
        .lib-css(transition, @transition, 1);
        float: right;
        width: 130px;
        box-sizing: border-box;
        border: 0;
        border-radius: 6px;
        font-size: 16px;
        font-weight: 600;
        font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background-color: #e8eaed;
        background-image: url('../Iflairwebtechnology_AdminMegaMenu/images/magnify-glass.svg');
        background-position: 10px 13px; 
        background-repeat: no-repeat;
        padding: 12px 20px 12px 45px;
        background-size: 25px;
        max-width: 80%;

        &:focus {
          width: 100%;
        }
      }

      .success {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

  .ui-autocomplete.ui-menu {
    .lib-css(border-radius, 6px, 1);
    z-index: 800;
    background: white;
    height: 300px;
    overflow-y: scroll;
    width: 80% !important;
    float: right;
    padding: 12px 0;
    border-bottom: 6px solid white;
    border-top: 1px solid #c5c5c5;
    left: 364px;

    .ui-menu-item {
      .ui-corner-all {
        display: block;
        padding: 10px 24px;
        color: rgba(0,0,0,0.54);
        font-weight: bold;
        text-decoration: none;

        &.ui-state-focus,
        &:hover {
          background-color: #e8f0fe;
          border-radius: 0;
          border: 0 solid #e8f0fe;
          margin: 0;
        }
      }
    }
  }

  &.has-results.adminsearch-focusing {
    .ui-autocomplete {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      display: block !important;
    }

    #adminsearch-input {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
}
#adminsearch .adminsearch-autocomplete #adminsearch-input::-webkit-input-placeholder {
  color: #fff;
}
#adminsearch .adminsearch-autocomplete #adminsearch-input:-ms-input-placeholder {
  color: #fff;
}
#adminsearch .adminsearch-autocomplete #adminsearch-input::placeholder {
  color: #fff;
}
#adminsearch .adminsearch-autocomplete #adminsearch-input {
        background-color: #eb5202 !important;
        color: #fff;
}
#adminsearch .adminsearch-autocomplete #adminsearch-input:-moz-placeholder { color:#fff; opacity: 1; } 
#adminsearch .adminsearch-autocomplete #adminsearch-input::-moz-placeholder { color:#fff; opacity: 1;} 