<?php
/** @var $block \Iflairwebtechnology\AdminMegaMenu\Block\Search 
    @var $this->helper \Iflairwebtechnology\AdminMegaMenu\Helper\Data
*/
;?>
<?php $helper = $this->helper('Iflairwebtechnology\AdminMegaMenu\Helper\Data'); ?>
<?php if($helper->isEnable()): // check module enable ?>
  <?php if ($block->getTabs()): ?>
  <div id="adminsearch">
      <div class="adminsearch-overlay"></div>
        <div class="adminsearch-autocomplete">
          <input id="adminsearch-input" type="text" name="searchName" placeholder="<?=__('Search...');?>">
      </div>
          <?php $source = $this->getSourceData();?>
      <script>
         require(['jquery', 'jquery/ui'], function($){
            $(document).ready( function() {
              var data = <?=$source;?>;
              var link = '<?=$block->getUrl('adminhtml/system_config/edit') . "section/";?>';
              $("#adminsearch-input").click(function(e) {
                setTimeout(function() {
                  $('#adminsearch').addClass("adminsearch-focusing");
                }, 700);
              })
              $(".adminsearch-overlay").click(function() {
                  $('#adminsearch').removeClass("adminsearch-focusing");
              })
              $( "#adminsearch-input" ).autocomplete({
                appendTo: '#adminsearch',
                source: data,
                response: function(event, ui) {
                  if (!ui.content.length) {
                    $("#adminsearch").removeClass("has-results");
                  } else {
                    $("#adminsearch").addClass("has-results");
                  }
                },
                delay: 500,
                minLength: 3,
                select: function( event, ui ) {
                  window.location.href = link + ui.item.value;
                  return false;
                },
                focus: function( event, ui ) {
                  return false;
                }
            }).data("ui-autocomplete")._renderItem = function( ul, item ) {
              var txt = String(item['label']).replace(new RegExp(this.term, "gi"),"<b style='color:black;'>$&</b>");
              return $("<li></li>")
                  .data("ui-autocomplete-item", item)
                  .append("<a>" + txt + "</a>")
                  .appendTo(ul);
              };
          });
        });
      </script>
  </div>
<?php endif; ?>
<?php endif; ?>


