<?php $logs = $block->getLogFiles(); ?>
<section class="admin__page-section">    
    <div class="admin__page-section-content">        
        <div class="admin__page-section-item-content">
            <table class="admin__table-primary">
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Last Updated</th>
                    <th>Actions</th>
                </tr>
            <?php foreach($logs as $log) { ?>
                <tr>
                    <td><?php echo $log['name'] ?></td>                    
                    <td><?php echo $log['filesize'] ?></td>
                    <td><?php $time  = $log['modTimeLong'];
                            echo rtrim($time,'.'); ?></td>
                    <td>
                        <span class="action-children"><a href="<?php echo $block->previewLogFile($log['name']); ?>">View</a></span>
                        <span class="action-children"><a href="<?php echo $block->downloadLogFiles($log['name']); ?>">Download</a></span>
                        <span class="action-children"><a href="<?php echo $block->deleteLogFile($log['name']); ?>" onclick="return confirm('Are you sure you want to delete this file content?');">Delete</a></span>
                    </td>
                </tr>
            <?php } ?>
            </table><br>
        </div>
    </div>
</section>
<style>
    .action-children {
        margin-right: 8px;
    }
    .action-children a:link {
        text-decoration:  none;
    }
</style>
