<?php 
	$fileName = $block->getFileName();
	$path = $block->getFilePath();
	$file = $path . $fileName;
	$content = file_get_contents($file);	
?>
<div class="back">
	<a href="<?php echo $block->getUrl('logfile/grid/index') ?>"><?php echo __('Go Back') ?></a>
</div>
<section class="admin__page-section">
    <div class="admin__page-section-content">
        <div class="admin__page-section-item-title">
            <span class="title"><?php echo $fileName. ' (Last 1000 Lines)' ?></span>
        </div>
        <div class="admin__page-section-item-content">
            <textarea readonly rows="20" style="width:100%"><?php echo $content; ?></textarea>
        </div>
    </div>
</section>
<style type="text/css">
    .main-col .back {
    float: right;
    }
    .main-col .back a {
        background: #e85d22;
        color: #fff;
        padding: 7px 20px;
    }
</style>